@font-face {
	font-family: kenyan-coffee;
	src: url("../fonts/kenyan_coffee_rg.ttf");
}
@font-face {
	font-family: Aquawax;
	src: url("../fonts/Aquawax_Black_Trial.ttf");
}
@font-face {
	font-family: PoetsenOne;
	src: url("../fonts/PoetsenOne-Regular.ttf");
}
@font-face {
	font-family: Timeless;
	src: url("../fonts/Timeless.ttf");
}
* {
	box-sizing: border-box;
}
#filter {
	font-style: italic;
	font-family: "Times New Roman", sans-serif;
	font-size: 20px;
	margin-left: 10px;
}
select {
	width: 100px;
}
body {
	margin: 0;
	padding: 0;
}
header {
	width: 100%;
	height: 70px;
	margin-bottom: 50px;
	background-color: #f0f0f0;
	border-bottom: .5px solid #d6d6d6;
}
footer {
	clear: left;
	margin-top: -1px;
	background-color: #d1d1d1;
	width: 100%;
	padding: 25px;
	color: white;
}
.chosenArticle {
	display: block;
	font-family: kenyan-coffee, sans-serif;
	text-align: center;
	text-decoration: none;
	color: black;
	font-size: 38px;
	margin: 10px 0;
}
.insider {
	width: 70%;
	margin: 0 auto;
	font-family: Aquawax, sans-serif;
}
#logo {
	height: 69px;
	width: 160px;
	padding:0 40px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	float: left;
}
#logoText {
	float: left;
	font-size: 30px;
	font-family: PoetsenOne, sans-serif;
	top: 15px;
	margin-top: 12px;
	margin-left: 20px;
}
#authorize {
	font-size: 25px;
	float: right;
	height: 69px;
	display: flex;
	align-items: center;
	padding: 0 50px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	cursor: pointer;
}
#content {
	width: 80%;
	margin: 0 auto;
}
.page-item {
	font-family: Timeless, serif;
	background-color: #fafafa;
	font-size: 20px;
	border: 1px solid black;
}
.article-content {
	width: 90%;
	padding: 5px;
	margin-top: 20px;
	position: relative;
}
.news {
	position: relative;
	height: 400px;
	width: 27%;
	margin: 1% 1%;
	padding: 5px;
}
.news h3 {
	margin: 5px 0 20px;
	height: 100px;
	cursor: pointer;
}
.summary {
	height: 200px;
}
.news hr {
	margin: 1px -5px;
}
.newsMeta {
	font-size: .9em;
}
#newsGrid {
	width: 70%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	float: left;
}
#yourNews {
	display: flex;
	flex-direction: column;
	width: 320px;
}
.button {
	text-align: center;
	font-family: PoetsenOne, sans-serif;
	text-decoration: none;
	color: white;
	margin-top: 10px;
	background-color: #dcdddd;
	border: 1px solid black;
	font-size: 30px;
	padding: 5px;
}
a.button:hover {
	background-color: #eee;
}
#pagination {
	position: relative;
	font-family: "Times New Roman", sans-serif; 
	clear: left;
	float: left;
	margin: 20px 10px;
}
#seeMore {
	text-decoration: none;
	color: black;
	font-size: 25px;
	font-style: italic;
}
#seeMore:hover {
	color: lightgray;
}
#down {
	position: absolute;
	background: url('../images/arrow_down.png') no-repeat;
	width: 40px;
	height: 27px;
	right: -40px;
	bottom: -2px;
}
#down:hover {
	background: url('../images/arrow_down_pressed.png') no-repeat;
}
.mini-button {
	font-size: 16px;
	width: 50px;
}
#back-to-grid {
	position: absolute;
	right: 5px;
	bottom: 5px;
}
.remove {
	position: absolute;
	top: 2px;
	right: 2px;
}
.authorize-form {
	position: absolute;
	right: 200px;
	top: 70px;
	width: 300px;
	height: 100px;
	background-color: #f0f0f0;
	border: .5px solid #d6d6d6;
	border-top: 0;
}
.authorize-form form {
	padding-left: 15px;
	padding-top: 35px;
}
#logout {
	position: relative;
	width: 100px;
	height: 50px;
	bottom: -20px;
	left: 100px;
	font-size: 16px;
}
